altgraph==0.17
asgiref==3.3.1
auto-py-to-exe==2.8.0
beautifulsoup4==4.9.3
boto3==1.17.19
botocore==1.20.19
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
curl==0.0.1
Django==3.1.7
django-decorator-include==3.0
django-six==1.0.4
django-storages==1.11.1
docopt==0.6.2
doqu==0.28.2
Eel==0.12.4
Flask==1.1.2
freeze==3.0
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
google==3.0.0
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.1.0
google-cloud==0.34.0
google-cloud-core==1.6.0
google-cloud-language==2.0.0
google-cloud-speech==2.3.0
google-cloud-translate==3.1.0
googleapis-common-protos==1.53.0
googletrans==3.0.0
greenlet==1.0.0
grpcio==1.37.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httplib2==0.19.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
Js2Py==0.71
libcst==0.3.18
MarkupSafe==1.1.1
mypy-extensions==0.4.3
numpy==1.20.2
packaging==20.9
pefile==2019.4.18
pipwin==0.5.1
proto-plus==1.18.1
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyjsparser==2.7.1
pyparsing==2.4.7
PyPrind==2.11.3
pySmartDL==1.3.4
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
rfc3986==1.4.0
rsa==4.7.2
s3transfer==0.3.4
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
sox==1.4.1
sqlparse==0.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.3
Werkzeug==1.0.1
whichcraft==0.6.1
xlwt==1.3.0
zope.event==4.5.0
zope.interface==5.4.0
